<div class="jumbotron jumbotron-fluid jumbo_color mb-0">
  <div class="container">
    <h1 class="display-5">Shoping with <span class="blue">Shopium</span></h1>
    <p class="lead">Gives you Added Benifits Like:</p>
    <hr class="my-2" />
    <ul>
      <h5><i class="fa fa-check"></i> Free Cash on Delivery</h5>
      <h5><i class="fa fa-check"></i> Free Shiping</h5>
      <h5><i class="fa fa-check"></i> Only Genuine Products</h5>
      <h5><i class="fa fa-check"></i> 100% Customer Satisfaction</h5>
      <h5><i class="fa fa-check"></i> 24/7 Customer Support</h5>
    </ul>
    <p>
      <a class="btn btn-dark btn-lg" routerLink="/allProduct" role="button ">
        >View All Products</a
      >
    </p>
  </div>
</div>
