<app-nav-bar></app-nav-bar>
<div class="container mt-9">
  <div class="row">
    <div class="col">
      <h3>Our Products</h3>
      <p>
        <input type="text" class="form-control" placeholder="Search..." />
      </p>
      <br />
      <div class="row">
        <div *ngFor="let item of allComputer" class="card">
          <div class="imgBox">
            <a>
              <img src="{{ item.imageUrl }}" alt="mouse corsair" class="mouse"
            /></a>
          </div>
          <br />
          <div class="contentBox">
            <h3>
              <a routerLink="/product/{{ item._id }}">{{ item.productName }}</a>
            </h3>
            <p class="price">Price : {{ item.price }} TND</p>
            <a class="buy">Add To Cart</a>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
