<app-nav-bar></app-nav-bar>
<form action="" id="login-form">
  <h1>Create Account</h1>
  <div class="input-box">
    <input type="text" />
    <span data-placeholder="Username"></span>
  </div>

  <div class="input-box">
    <input type="password" />
    <span data-placeholder="Password"></span>
  </div>
  <div class="input-box">
    <input type="email" />
    <span data-placeholder="email"></span>
  </div>
  <div class="input-box">
    <input type="number" />
    <span data-placeholder="Phone number"></span>
  </div>
  <div class="input-box">
    <input type="tex" />
    <span data-placeholder="Location"></span>
  </div>

  <!-- <label> <input type="checkbox" name="remember" /> Remember me </label> -->

  <button type="submit" class="login-btn">Sign up</button>

  <div class="bottom-links"></div>
</form>
