@import url("https://fonts.googleapis.com/css2?family=Istok+Web:wght@400;700&display=swap");

* {
  margin: 5;
  padding: 5;
  font-family: "Istok Web", sans-serif;
}

body {
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
  background: #20201f;
}
.row {
  width: 1450px;
  row-gap: 35px;
}

div {
  column-gap: 35px;
}

.card {
 
  position: relative;
  width: 377px;
  height: 600px;
  background: #01030a;
  border-radius: 20px;
  overflow: hidden;
 
}

.card::before {
  content: "";
  position: absolute;
  top: -50%;
  width: 100%;
  height: 100%;
  background: rgb(160, 183, 233);
  transform: skewY(345deg);
  transition: 0.5s;

}

.card:hover::before {
  top: -70%;
  transform: skewY(390deg);
}


.card::after {
  position: absolute;
  bottom: 0;
  left: 0;
  font-weight: 600;
  font-size: 6em;
  color: rgba(223, 150, 239, 0.1);
}

.card .imgBox {
  position: relative;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  padding-top: 20px;
  z-index: 1;

}

.card .imgBox img {
    max-width: 100%;
    padding: 0 5px 0 5px;
    transition: .5s;
}

.card:hover .imgBox img {
    max-width: 50%;
      
}

.card .contentBox {
  position: relative;
  padding: 20px;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  z-index: 2;
}

.card .contentBox h3 {
  font-size: 18px;
  color: white;
  font-weight: 500;
  text-transform: uppercase;
  letter-spacing: 1px;
}

.card .contentBox .price {
  font-size: 24px;
  color: rgb(250, 250, 250);
  font-weight: 700;
  letter-spacing: 1px;
}

.card .contentBox .buy {
  position: relative;
  top: 100px;
  opacity: 0;
  padding: 10px 30px;
  margin-top: 15px;
  color: #0e0c22;
  text-decoration: none;
  background: #c2efef;
  border-radius: 30px;
  text-transform: uppercase;
  letter-spacing: 1px;
  transition: 0.5s;
}

.card:hover .contentBox .buy {
  top: 0;
  opacity: 1;
}

.mouse {
  height: 300px;
  width: auto;
}
