<ngb-carousel>
  <ng-template ngbSlide>
    <img
      src="https://images.unsplash.com/photo-1517502474097-f9b30659dadb?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxzZWFyY2h8MTV8fHNtYXJ0d2F0Y2h8ZW58MHx8MHx8&w=1000&q=80"
      class="img-fluid"
    />

    <!-- <div class="carousel-caption">
        <h3>Second slide label</h3>
        <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit.</p>
      </div> -->
  </ng-template>
  <ng-template ngbSlide>
    <img
      src="https://images6.alphacoders.com/571/thumb-1920-571075.jpg"
      class="img-fluid"
    />
    <!-- <div class="carousel-caption">
        <h3>Third slide label</h3>
        <p>Praesent commodo cursus magna, vel scelerisque nisl consectetur.</p>
      </div> -->
  </ng-template>
</ngb-carousel>
