<div class="widgetLg">
  <h3 class="widgetLgTitle">Ordres List</h3>
  <table class="widgetLgTable">
    <tr class="widgetLgTr">
      <th class="widgetLgTh">Username</th>
      <th class="widgetLgTh">Date</th>
      <th class="widgetLgTh">Amount</th>
      <th class="widgetLgTh">Status</th>
    </tr>
    <tr class="widgetLgTr">
      <td class="widgetLgUser">
        <span class="widgetLgName">rder.userId</span>
      </td>
      <td class="widgetLgDate">ormat(order.createdAt)</td>
      <td class="widgetLgAmount">order.amount</td>
      <td class="widgetLgStatus"></td>
    </tr>
    <tr class="widgetLgTr">
      <td class="widgetLgUser">
        <span class="widgetLgName">rder.userId</span>
      </td>
      <td class="widgetLgDate">ormat(order.createdAt)</td>
      <td class="widgetLgAmount">order.amount</td>
      <td class="widgetLgStatus"></td>
    </tr>
  </table>
</div>
